@import "../../config";

.about {
  font-size: 16px;
  position: relative;
  padding: 35px 15px;
  @include content;
  margin-bottom: 370px;
  @include flex-center;
  flex-direction: column-reverse;

  @media screen and #{$smallDesktop} {
    padding: 35px 35px;
    flex-direction: row;
  }

  @media screen and #{$desktop} {
    padding: 55px 80px;
  }

  &__text {
    line-height: 1.35;
    padding: 0 8px;
    margin: 0 auto;
    margin-bottom: 6px;

    @media screen and #{$smallDesktop} {
      padding: 0 28px;
    }

    @media screen and #{$desktop} {
      padding: 0 8px;
      font-size: 1.2em;
      width: 90%;
    }
  }

  &__image {
    display: block;
    width: 180px;
    box-shadow: 5px 5px 8px 2px rgba($dark, 0.4);
    border-radius: 50%;
    margin-bottom: 38px;

    @media screen and #{$smallDesktop} {
      width: 210px;
      margin: 15px;
    }
  }
}
