@import "../../config";

.hardskills {
  position: relative;
  @include flex-center;
  flex-direction: column;
  @include content;
  padding: 35px 15px;
  font-size: 16px;

  &::before {
    content: "HARDSKILLS";
    @include beforeSkill;
  }

  @media screen and #{$tablet} {
    flex-direction: row;
  }

  @media screen and #{$desktop} {
    padding: 35px 80px;
    justify-content: space-between;
  }

  &__text {
    @media screen and #{$tablet} {
      width: 50%;
    }
  }

  &__description {
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;

    @media screen and #{$tablet} {
      font-size: 1.3em;
      padding: 0 10px;
      margin-bottom: 40px;
      line-height: 1.7;
      letter-spacing: 0px;
    }
    @media screen and #{$desktop} {
      padding: 0 70px;
    }
  }

  &__keywords {
    width: 100%;
    font-size: 1.1em;
    font-weight: 700;
    opacity: 0;
    @include flex-center;
    justify-content: space-around;
  }

  &__spinner {
    position: relative;
    @include flex-center;
    flex-direction: column;
    margin: 45px 0 30px 0;
    overflow: hidden;
    min-height: 260px;
    min-width: 260px;

    @media screen and #{$tablet} {
      margin: 30px;
    }
  }

  &__item {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70% 70%;

    @media screen and #{$desktop} {
      background-size: 100% 100%;
    }
  }
}

@keyframes fadeKeywords {
  0% {
    transform: translateY(-5px);
    opacity: 0;
  }
  12% {
    transform: translateY(0px);
    opacity: 1;
  }
  90% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(5px);
    opacity: 0;
  }
}
