//reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
li {
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}

//variables
$bright: #efefef;
$blue: #1023cf;
$red: #ae0606;
$orange: #ff7a00;

//breakpoints

:root {
  color: $bright;
}
