@import url("https://fonts.googleapis.com/css2?family=Kadwa:wght@700&family=Lato:wght@300;400;700&display=swap");
//reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
li,
button {
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}

//variables
$bright: #efefef;
$dark: #1a1a1a;
$blue: #1023cf;
$red: #ae0606;
$orange: #ff7a00;

//breakpoints
$largeMobile: "(min-width: 601px)";
$tablet: "(min-width: 767px)";
$smallDesktop: "(min-width: 1024px)";
$desktop: "(min-width: 1400px)";
$bigDesktop: "(min-width: 1700px)";

//mixins
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin beforeSkill {
  font-weight: 700;
  opacity: 0.4;
  display: block;
  position: absolute;
  color: rgba($dark, 0.2);
  filter: blur(2px);
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  letter-spacing: 9px;
  z-index: -1;

  @media screen and #{$tablet} {
    top: 50%;
    font-size: 58px;
  }
  @media screen and #{$smallDesktop} {
  }
}

@mixin content {
  background-color: rgba(white, 0.2);
  margin-bottom: 92px;
  border-radius: 10px;

  @media screen and #{$desktop} {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
//font-family: 'Kadwa', serif;
//font-family: "Lato", sans-serif;
